<p-panel header="Task details" *ngIf="task">
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <label>Name</label>
        </div>

        <div class="col-6 themed-grid-col">
            <label>{{task.name}}</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <label>Description</label>
        </div>

        <div class="col-6 themed-grid-col">
            <div [innerHTML]="description"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <label>Status</label>
        </div>

        <div class="col-6 themed-grid-col">
            <label>{{task.status}}</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <label>Priority</label>
        </div>

        <div class="col-6 themed-grid-col">
            <label>{{task.priority}}</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <label>Added</label>
        </div>
        <div class="col-6 themed-grid-col">
            <label>{{task.addedDate | date:'dd.MM.yyyy H:mm'}}</label>
        </div>
    </div>
</p-panel>